{% extends "base.html" %}

{% block content %}

<div class="container mt-5" style="max-width:420px;">

<div class="card shadow-sm p-4">

<h4 class="text-center mb-3">Forgot Password</h4>

<form method="POST">

    <div class="mb-3">
        <input type="email" name="email"
        placeholder="Enter your registered email"
        class="form-control" required>
    </div>

    <button class="btn btn-warning w-100">
        Send OTP
    </button>

</form>

</div>

</div>

{% endblock %}