{% extends "base.html" %}

{% block content %}

<div class="container mt-5" style="max-width:420px;">

<div class="card shadow-sm p-4">

<h3 class="text-center mb-4">Login</h3>

<form method="POST">

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email"
        class="form-control" placeholder="Enter your email" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password"
        class="form-control" placeholder="Enter password" required>
    </div>

    <div class="d-flex justify-content-between mb-3">
        <a href="/forgot-password" class="text-decoration-none">
            Forgot Password?
        </a>
    </div>

    <button class="btn btn-primary w-100">Login</button>

</form>

<div class="text-center mt-3">
    <small>Don't have an account?</small><br>
    <a href="/register">Personal Register</a> |
    <a href="/business_register">Business Register</a>
</div>

</div>

</div>

{% endblock %}